
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");


      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        box-sizing: border-box;
      }
      .container {
        max-width: 1200px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
       

      }

      .card-container{
        max-width: 1200px;
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        text-align: center;

      }


      #allergyBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* or space-around, space-evenly */
        margin: 10px;
      }
      #diseaseBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* or space-around, space-evenly */
      }
      /* Hide the checkbox */
      #allergyBar input[type="checkbox"],
      #diseaseBar input[type="checkbox"] {
        display: none;
      }

      /* Change the color of the label to green when the checkbox is checked */
      #allergyBar input[type="checkbox"]:checked + label,
      #diseaseBar input[type="checkbox"]:checked + label {
        color: green;
      }


    .card {
      width: calc(25% - 20px); /* 25% width for each card with margin */
      margin: 10px;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
  
    }
    
    .card img {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 10px;
    }
    
    .card h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    
    .card p {
      font-size: 16px;
      line-height: 1.6;
      color: #555;
    }

  
    
  
  
  
    
  
  