.container {
  max-width: 960px;
  margin: 0 auto;
}
#nav-container {
  z-index: 5; /* any number larger than the z-index of #top-image-part */
  position: relative;
  font-family: Arial, sans-serif;
}

.flex {
  display: flex;
}
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");


body,
ul {
  margin: 0;
  padding: 0;
}


 #top-image-part {
  position: relative;
  width: 100%;
  height: auto;
} 
.top-bg {
  width: 100%;
  height: 44vw;
  position: absolute;
  background-color: #e6e6e2;
  top: 0;
  
} 

#top-image-part h1 {
  position: absolute;
  font-family: "Raleway", sans-serif;
  top: 8vw;
  left: 12.5vw;
  font-size: 4vw;
  width: 30vw;
  letter-spacing: 2px;
  height: auto;
  z-index:100;
}  

#top-image-part p {
  position: absolute;
  font-family: "Raleway", sans-serif;
  top: 20vw;
  font-weight: bold;
  left: 12.6em;
  font-size: 1vw;
  width: 30%;
  letter-spacing: 1px;
  color: gray;
  line-height: 1.5em;
} 

#action-button {
  background: #6f967a;
  width: 13em;
  position: absolute;
  left: 13.8em;
  top: 29vw;
  height: 6em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9vw;
  color: #e6e9e6;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
#action a {
  text-decoration: none;
  color: #e6e9e6;
}

#action p {
  width: 10vw;
  position: absolute;
  left: 30em;
  top: 32em;
  height: 5vh;
  border-radius: 5px;
  font-size: 0.9vw;
  color: gray;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fruit-for-top {
  position: absolute;
  z-index: 4;
  width: 77%;
  margin-top: -3.5%;
  right: -25px;
}
#social {
  transform: rotate(270deg);
  position: absolute;
  right: 0vw;
  top: 16vw;
  display: flex;
  width: 6vw;
  justify-content: space-between;
  opacity: 0.7;
  z-index: 999;
}
#social a {
  color: black;
  opacity: 0.7;
}
/*Top Part END*/

#our-services {
  width: 100%;
  position: absolute;
  margin-top: 44vw;
  height: auto;
  background-color: #f4f4f4;
}

.bgsecond {
  background-color: #f4f4f4;
  width: 100%;
  height: 29vw;
}

#services-text {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 7vw;
}

#services-text p {
  color: #4e7c58;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  opacity: 0.8;
  font-size: 1vw;
  margin-bottom: 1vw;
}

#services-text h1 {
  color: black;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.05em;
  font-size: 2.5vw;
  margin-top: 0;
}

.cards {
  width: 70%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
  margin-top: 18vw;
}

/*for query move columns from cards class*/

.card {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 80% 1fr;
  background-color: white;
}

.card img {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 2.5em;
  margin-top: 2.5vw;
  width: 2.5vw;
}

.card h2 {
  grid-area: 2 / 1 / 3 / 3;
  margin-left: 3em;
  margin-top: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1vw;
  height: 2vh;
  letter-spacing: 0.05em;
}

.card span {
  grid-area: 1 / 2 / 2 / 3;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2vw;
  color: gray;
  opacity: 0.5;
  margin-top: 1em;
  height: 3vh;
  width: 100%;
}

.card h4 {
  grid-area: 3 / 1 / 4 / 2;
  margin-left: 4.1em;
  margin-top: -1em;
  font-family: "raleway", sans-serif;
  font-size: 0.75vw;
  height: 2vh;
  letter-spacing: 0.05em;
  color: #4e7c58;
}

.card p {
  grid-area: 4 / 1 / 5 / 2;
  margin-top: -4.5em;
  margin-left: 4.4em;
  font-family: "raleway", sans-serif;
  font-size: 0.7vw;
}

.card h6 {
  grid-area: 6 / 1 / 6 / 2;
  margin-left: 4.4em;
  margin-top: -5em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.7vw;
  height: 2vh;
  letter-spacing: 0.02em;
}

.card i {
  grid-area: 6 / 1 / 6 / 2;
  margin-top: -3em;
  margin-left: 6em;
}

.card a {
  color: black;
  text-decoration: none;
}
/*      Second part end  */
#about-us {
  width: 100%;
  position: absolute;
  margin-top: 88vw;
  height: auto;
  background-color: #ffffff;
}

#top-text {
  display: flex;
  flex-direction: column;
  margin-left: 12.5vw;
  margin-top: 5em;
}

#top-text p {
  color: #4e7c58;
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 1.2vw;
  letter-spacing: 0.3em;
}

#top-text h1 {
  color: #000000;
  font-family: "source sans pro", sans-serif;
  font-weight: bold;
  font-size: 2.9vw;
  margin-top: 0em;
}

#images {
  width: 37%;
  display: flex;
  justify-content: space-between;
  margin-left: 10.5vw;
  border: solid;
  border: 2vw solid white;
  height: auto;
}

#images > img {
  width: 48%;
}

.container {
  width: 30vw;
  position: absolute;
  right: 10%;
  top: 35%;
  background-color: #ffffff;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tabs h3 {
  background-color: #ffffff;
  text-align: center;
  padding: 0.8vw 0;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  font-family: "raleway", sans serif;
  font-size: 1.25vw;
}
.tab-content {
  background-color: #f1f1f1;
  padding: 5% 10%;
}

.tab-content p {
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #202238;
  font-size: 1vw;
  font-family: "raleway", sans serif;
}
.tab-content div {
  display: none;
}
.tab-content .active {
  display: block;
}
.tabs .active {
  background-color: #f1f1f1;
  color: #4e7c58;
  border-top: 0.2vw solid#4E7C58;
}

#us-bg {
  background-color: white;
  width: 100%;
  height: 40vw;
}

#us2 {
  position: absolute;
  width: 100%;
  height: auto;
}

.lightimage img {
  width: 100%;
  z-index: -5;
  position: absolute;
}

.cover {
  width: 100%;
  height: 30vw;
  background-color: white;
  position: absolute;
  opacity: 0.93;
}

#us2title {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 9vw;
}
#us2title p {
  color: #4e7c58;
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 1.2vw;
  letter-spacing: 0.3em;
}

#us2title h1 {
  color: #000000;
  font-family: "source sans pro", sans-serif;
  font-weight: bold;
  font-size: 2.9vw;
  margin-top: -0.3em;
  word-spacing: 0.2em;
}

.cover2 {
  width: 100%;
  height: 40em;
  background-color: white;
  position: absolute;
  margin-top: 25%;
}

#subscribe {
  position: absolute;
  width: 65%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  background-color: #4e7c58;
  padding: 2.5% 0em;
  margin-top: 21%;
  height: auto;
}

.sub-form img {
  position: absolute;
  width: 1vw;
  opacity: 0.3;
  margin-left: 1em;
  margin-top: 0.65em;
}

.sub-form input {
  width: 20vw;
  height: 5em;
  border-radius: 0.25vw;
  border: none;
  font-family: "raleway", sans-serif;
  font-size: 0.5vw;
  margin-left: 1em;
  text-align: center;
}

.sub-form button {
  width: 10vw;
  height: 4em;
  border-radius: 0.25vw;
  border: none;
  font-family: "raleway", sans-serif;
  font-size: 0.6vw;
  margin-left: 1em;
  background-color: black;
  color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
}

#call {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 30vw;
}

#call p {
  width: 100%;
  height: auto;
  margin-bottom: 0em;
  font-family: "raleway", sans-serif;
  font-size: 0.75vw;
  color: gray;
}

#call h5 {
  width: 10vw;
  height: auto;
  font-family: "raleway", sans-serif;
  font-size: 0.75vw;
  text-align: center;
  color: gray;
  margin-top: 0.9vw;
}

#call a {
  color: gray;
}
#our-blog {
  position: absolute;
  top: 269vw;
  width: 80%;
  left: 12vw;
  height: auto;
}

.blogbg {
  height: 60vw;
}

#articles {
  display: flex;
  justify-content: space-between;
}

#recent {
  display: flex;
  flex-direction: column;
}

#recent h5 {
  color: #4e7c58;
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 1.1vw;
  letter-spacing: 0.3em;
}

#recent h1 {
  color: black;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.05em;
  font-size: 2.5vw;
  margin-top: -1.3vw;
}

#recent p {
  font-family: "Raleway", sans-serif;
  margin-top: -0.5vw;
  font-weight: bold;
  left: 12.6em;
  font-size: 1vw;
  width: 35vw;
  letter-spacing: 1px;
  color: gray;
  line-height: 1.5em;
}

#recent h6 {
  font-family: "Raleway", sans-serif;
  margin-top: -0.5vw;
  font-weight: bold;
  left: 12.6em;
  font-size: 1vw;
  width: 100%;
  letter-spacing: 1px;
  color: gray;
  line-height: 1.5em;
  margin-top: 1vw;
}

h6 a {
  color: #4f7b59;
  text-decoration: none;
}

#recent img {
  width: 34vw;
  height: auto;
}

#older {
  display: flex;
  flex-direction: column;
  width: 36vw;
  height: 42vw;
  justify-content: space-between;
  margin-top: 7vw;
}

.articles {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  width: 35vw;
  height: 20vw;
}

.date {
  color: #4f7b59;
}

.top {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: space-evenly;
  width: 35%;
  font-size: 0.8vw;
  margin-left: 1vw;
  margin-top: 1vw;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.topic {
  color: #707070;
}

.top i {
  margin-top: 0.8vw;
}

.articlename {
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  margin-left: 1.5vw;
  margin-top: 0vw;
  font-size: 1.75vw;
}

.articlename a {
  text-decoration: none;
  color: black;
}

.articlename a:hover {
  text-decoration: underline;
  color: #4e7c58;
}

.preview-p {
  font-family: "Raleway", sans-serif;
  margin-left: 1.5vw;
  margin-top: -1vw;
  font-size: 1vw;
  line-height: 1.5em;
}

#weight-loss-article img {
  width: 11%;
  border-radius: 50%;
  margin-left: 2vw;
  margin-top: 1vw;
}

#fitness img {
  width: 11%;
  margin-left: 2vw;
  border-radius: 50%;
  margin-top: 1vw;
}

.author {
  font-family: "Raleway", sans-serif;
  margin-left: 7vw;
  margin-top: -2.5vw;
  font-size: 1vw;
  line-height: 1.5em;
  font-weight: bold;
}

.foodimage {
  position: absolute;
  top: 329vw;
  width: 100%;
  left: 0;
}

#footer {
  position: absolute;
  top: 350vw;
  width: 85%;
  display: flex;
  justify-content: space-around;
  left: 50%;
  transform: translate(-50%);
}

.foot-cards {
  font-family: "Source Sans Pro";
  width: 15vw;
}

.foot-cards h4 {
  font-size: 2vw;
  margin-top: 0vw;
  text-transform: uppercase;
  color: #4e7c58;
  letter-spacing: 0.05em;
}

#title-CR p {
  font-size: 0.8vw;
  margin-top: 0vw;
  text-transform: uppercase;
  color: #707070;
  word-spacing: 0.1em;
  line-height: 2em;
}

.foot-cards h5 {
  font-size: 1.25vw;
  margin-top: 0vw;
  text-transform: capitalize;
  word-spacing: 0.1em;
  line-height: 2em;
  margin-bottom: 1vw;
}

.foot-cards p {
  font-size: 1vw;
  margin-top: 0vw;
  text-transform: capitalize;
  word-spacing: 0.1em;
  line-height: 2em;
}

.foot-cards a {
  text-decoration: none;
  color: #707070;
}

.foot-cards a:hover {
  color: #4e7c58;
}

#cont-info p {
  margin-top: -0.5vw;
}

#cont-info h5 {
  margin-bottom: 2vw;
}

#help a {
  color: #707070;
  font-size: 1.5vw;
}

#help a:hover {
  color: #4e7c58;
}

#help span a {
  top: 3vw;
}

footer {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 370vw;
  width: 100%;
  background-color: #4e7c58;
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
}

footer > ul {
  list-style: none;
}

footer > ul li {
  display: inline;
}

footer > ul li:not(last-child) {
  margin-right: 1vw;
}

footer > ul li a {
  color: white;
  text-decoration: none;
}
